
/*--------------------------------------------*/
/* BASE SETTINGS
/*--------------------------------------------*/

html,
body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #fff;
	line-height: 25px;
	overflow-x: hidden;
}

a {
	color: #bb0a00;
	outline: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
	color: #bb0a00;
	outline: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

/*--------------------------------------------*/
/* VARIABLES
/*--------------------------------------------*/

.text-light {
	color: #fff !important;
}

.text-dark {
	color: #000 !important;
}

.text-grey {
	color: #171717 !important;
}

.text-accent {
	color: #bb0a00 !important;
}

.bg-light {
	background-color: #fff !important;
}

.bg-grey {
	background-color: #f5f5f5 !important;
}

.bg-dark-grey {
	background-color: #171717 !important;
}

.uppercase {
	text-transform: uppercase !important;
}

.italic {
	font-style: italic !important;
}

.content-row {
  margin-top: 30px;
}

/*--------------------------------------------*/
/* DIVIDER
/*--------------------------------------------*/

span.divider {
	display: block;
	margin: 35px 0px;
	width: 150px;
	height: 2px;
	background-color: #bb0a00;
}

span.divider.center {
	margin-right: auto;
	margin-left: auto;
}

/*--------------------------------------------*/
/* BUTTONS
/*--------------------------------------------*/

.btn-primary {
  color: #ffffff;
  background-color:#bb0a00;
  border-color:#bb0a00;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #a80900;
  border-color: #950800;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-outline-light {
  color: white;
  border: 1px solid white;
  background: transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-outline-light:hover,
.btn-outline-light:focus {
  color:#bb0a00;
  background: white;
  outline: none;
}

.btn-outline-dark {
  color: #222222;
  border: 1px solid #222222;
  background: transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus {
  color: white;
  background:#bb0a00;
  border-color:#bb0a00;
  outline: none;
}

.btn {
  border-radius: 0;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}

.btn-full-width {
  border: 0;
  border-radius: 0;
  background-color: #222222;
  color: white;
  padding: 50px 0;
  font-size: 26px;
  font-weight: 200;
  letter-spacing: normal;
  text-transform: none;
}

.btn-full-width:hover {
  background-color:#bb0a00;
  color: white;
}

.btn-full-width:focus {
  color: white;
}

.btn-round {
	width: 80px;
	height: 80px;
	padding:12px 13px 8px 8px;
	font-size: 24px;
	line-height: 2.8;
	border-radius: 100%;
	color: #bb0a00;
	background: transparent;
	z-index: 15;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.btn-round:hover,
.btn-round:focus {
  color: #171717;
  background: transparent;
  outline: none;
}

/*--------------------------------------------*/
/* PRELOADER
/*--------------------------------------------*/

#jpreOverlay {
	background-color: #000;
}

#jpreLoader {
	width: 100%;
	height: 5px;
}

#jpreBar {
	background-color: #fff;
}

/*--------------------------------------------*/
/* HEADER / HERO
/*--------------------------------------------*/

header.hero {
	width: 100%;
	height: 100%;
}

header.hero:before {
	position: absolute;
	content: '';
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
}

header.hero .hero-body {
	position: relative;
	z-index: 15;
	display: table-cell;
	vertical-align: middle;
	padding: 80px 30px;
}

@media (min-width: 480px) {
  header.hero .hero-body {
    padding: 100px 50px;
  }
}

@media (min-width: 768px) {
  header.hero .hero-body {
    padding: 50px;
  }
}

@media (min-width: 992px) {
  header.hero .hero-body {
    padding: 0px;
  }
}

header.hero .hero-body .hero-text {
  color: rgba(255, 255, 255, 0.9);
}

header.hero .hero-body .hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -4px;
}

@media (min-width: 600px) {
  header.hero .hero-body .hero-text h1 {
    font-size: 58px;
  }
}

@media (min-width: 768px) {
  header.hero .hero-body .hero-text h1 {
    font-size: 78px;
  }
}

header.hero .hero-body .hero-text h1.small {
  font-size: 45px;
  font-weight: 400;
  color: #ffffff;
}

@media (min-width: 600px) {
  header.hero .hero-body .hero-text h1.small {
    font-size: 58px;
  }
}

@media (min-width: 768px) {
  header.hero .hero-body .hero-text h1.small {
    font-size: 66px;
  }
}

/*--------------------------------------------*/
/* HEADER / HERO - PARALLAX
/*--------------------------------------------*/

header.hero.parallax-yes {
  display: block;
  background: none;
}

header.hero.parallax-yes > .parallax {
  width: 100%;
  height: 100%;
}

header.hero.parallax-yes > .parallax > .bcg {
  display: table;
  width: 100%;
  height: 100%;
  background-image: url('../../img/dist/general/background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 1280px) {
  header.hero.parallax-yes > .parallax > .bcg {
    background-attachment: fixed;
  }
}

/*--------------------------------------------*/
/* HEADER / HERO - BLINKER
/*--------------------------------------------*/

header.hero .hero-body .hero-text h1.small > span.blinker {
  position: relative;
}

header.hero .hero-body .hero-text h1.small > span.blinker:before {
  position: absolute;
  top: 50%;
  left: 8px;
  content: '';
  width: 2px;
  height: 30px;
  margin-top: -15px;
  background-color: #ffffff;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@media (min-width: 768px) {
  header.hero .hero-body .hero-text h1.small > span.blinker:before {
    left: 10px;
    width: 3px;
    height: 40px;
    margin-top: -20px;
  }
}

@media (min-width: 992px) {
  header.hero .hero-body .hero-text h1.small > span.blinker:before {
    width: 3px;
    height: 50px;
    margin-top: -25px;
  }
}

@-moz-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

/*--------------------------------------------*/
/* HEADER / HERO - MOUSE ICON
/*--------------------------------------------*/

header.hero .hero-body .mouse-icon {
	position: absolute;
	height: 50px;
	width: 30px;
	bottom: 10%;
	left: 50%;
	border: 2px solid #fff;
	border-radius: 15px;  
	display: block;
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ie-transform: translateX(-50%);
	z-index:15;
}

header.hero .hero-body .mouse-icon .wheel {
	position: relative;
	width: 4px;
	height: 10px;
	top: 5px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
}

header.hero .hero-body .mouse-icon .wheel {
	-webkit-animation-name:drop;
	-webkit-animation-duration:1s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-delay:0s;
	-webkit-animation-iteration-count:infinite;	
	-webkit-animation-play-state:running;	
	animation-name:drop;
	animation-duration:1s;
	animation-timing-function:linear;
	animation-delay:0s;
	animation-iteration-count:infinite;	
	animation-play-state:running;
}

@-webkit-keyframes drop	{
	0%   { top:5px;opacity: 0;}
	30% { top:10px;opacity: 1;}
	100% { top:25px;opacity: 0;}
}
	
@keyframes drop	{
	0%   { top:5px;opacity: 0;}
	30% { top:10px;opacity: 1;}
	100% { top:25px;opacity: 0;}
}

/*--------------------------------------------*/
/* NAVIGATION
/*--------------------------------------------*/

.navbar.navbar-fixed-top {
	position: relative;
	margin: 0;
	border: 0;
	height: 66px;
	background-color: #171717;
	border-bottom: 1px solid #282428;
}

.navbar.navbar-fixed-top .navbar-container {
  background-color: #171717;
}

.navbar.navbar-fixed-top .navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #a1a1a1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  height: 65px;
  line-height: 65px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar.navbar-fixed-top .navbar-nav > li > a {
  padding-top: 0px;
  height: 40px;
  line-height: 40px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #a1a1a1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (min-width: 992px) {
  .navbar.navbar-fixed-top .navbar-nav > li > a {
    height: 65px;
    line-height: 65px;
  }
}

.navbar.navbar-fixed-top .navbar-nav > li > a:hover {
  background-color: #171717;
  color: #ffffff;
}

.navbar.navbar-fixed-top .navbar-nav > li > a:focus {
  background-color: #171717;
  color: #a1a1a1;
}

.navbar.navbar-fixed-top .navbar-nav > li.active a,
.navbar.navbar-fixed-top .navbar-nav > li.active a:hover {
  background-color: #171717;
  color: #bb0a00;
}

.navbar.navbar-fixed-top .navbar-toggle {
  background-color: #bb0a00;
  border-radius: 3px;
  margin-top: 18px;
}

.navbar.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar.navbar-fixed-top .navbar-collapse {
  border: 0;
}

@media (max-width: 991px) {
  .navbar.navbar-fixed-top .navbar-collapse {
    border-bottom: 1px solid #282428;
  }
}

/*--------------------------------------------*/
/* NAVIGATION - CENTER
/*--------------------------------------------*/

@media (min-width: 992px) {
  .navbar.navbar-fixed-top.center-menu .navbar-nav {
    float: none;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .navbar.navbar-fixed-top.center-menu .navbar-nav > li {
    float: none;
    display: inline-block;
  }
}

/*--------------------------------------------*/
/* SECTION SETTINGS
/*--------------------------------------------*/

.section .section-wrapper > .section-content {
  padding: 80px 0px;
}

@media (min-width: 769px) {
  .section .section-wrapper > .section-content {
    padding: 80px 0px;
  }
}

.section .section-title {
  margin-bottom: 20px;
  font-size: 35px;
  letter-spacing: 1px;
  margin-top: 20px;
}

.section .section-subtitle {
  font-size: 18px;
  font-style: italic;
}

/*--------------------------------------------*/
/* ABOUT
/*--------------------------------------------*/

#about.section .section-wrapper > .section-content {
  padding: 40px 0px;
}

#about .profile-text {
  text-align: center;
}

@media (min-width: 768px) {
  #about .profile-text {
    text-align: justify;
  }
}

@media (min-width: 992px) {
  #about .profile-text {
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  #about .profile-text .divider {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  #about .profile-text.padding-left-yes {
    padding-left: 20px;
  }
}

#about .pp-wrapper {
  position: relative;
}

#about .pp-wrapper .profile-picture.style-profile img {
  margin-top: 120px;
}

/*--------------------------------------------*/
/* OWL CAROUSEL
/*--------------------------------------------*/

.owl-theme .owl-controls .owl-page span {
	background: rgba(34, 34, 34, 0.5);
}

/*--------------------------------------------*/
/* WORK
/*--------------------------------------------*/

#work .section .section-wrapper > .section-content {
  padding: 20px 0px;
}

@media (min-width: 769px) {
  #work .section .section-wrapper > .section-content {
    padding: 30px 0px;
  }
}

.work-carousel .btn {
	margin-bottom: 10px !important;
	margin-left: 10px;
}

.work-carousel {
	padding: 0;
	color: white;
	background-color: #222222;
}

.work-carousel .item {
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 50px 55px;
	text-align: center;		
}

.work-carousel .item .work-image {
	margin: 0;
}

.work-carousel .item .project-details {
	padding: 0;
}

.work-carousel .item .project-details .project-name {
	display: block;
	font-size: 40px;
	line-height: 40px;
	margin-bottom: 5px;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}

.work-carousel .item .project-details .project-description {
  display: block;
  font-size: 18px;
  line-height: 18px;
}

.work-carousel .owl-controls {
  margin-top: 0;
}

.work-carousel .owl-controls .owl-prev,
.work-carousel .owl-controls .owl-next {
  text-align: center;
  position: absolute;
  height: 75px;
  width: 50px;
  border-radius: 0 !important;
  line-height: 70px;
  font-size: 30px !important;
  margin: auto 0 !important;
  top: 0;
  bottom: 0;
  background-color: #bb0a00 !important;
  color: white !important;
  border-color: black;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.work-carousel .owl-controls .owl-prev:hover,
.work-carousel .owl-controls .owl-next:hover {
  opacity: 1;
}

.work-carousel .owl-controls .owl-prev {
  left: 0;
}

.work-carousel .owl-controls .owl-next {
  right: 0;
}

@media (min-width: 992px) {
  .work-carousel .item {
    padding: 100px 55px 100px;
    text-align: left;
    min-height: 100%;
  }
  
  .work-carousel .item .work-image {
    margin-top: 0;
    margin-left: 0%;
  }
  
  .work-carousel .item .project-details {
    padding: 15% 0 0;
  }
  
  .work-carousel .item .project-details .project-name {
    display: block;
    font-size: 50px;
    line-height: 50px;
    margin-right: auto;
	margin-left: auto;
  }
  
  .work-carousel .item .project-details .project-description {
    font-size: 20px;
    line-height: 20px;
  }
}

@media(max-width:1024px){
	.work-carousel .item .divider {
	  margin-right: auto;
	  margin-left: auto;
  }	
}

#skills .about-content {
  padding: 30px;
  margin-top: 30px;
}

#skills .about-content h3 {
  padding: 5px;
}

/*--------------------------------------------*/
/* SOCIAL
/*--------------------------------------------*/

@media (max-width: 769px) {
	#social h3 {
		font-size: 16px;
	}
}

/*--------------------------------------------*/
/* FOOTER
/*--------------------------------------------*/

footer.footer {
  background-color: #171717;
  padding-top: 70px;
  padding-bottom: 50px;
}

footer.footer .page-scroll > a {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 48px;
  height: 46px;
  line-height: 48px;
  margin-top: -94px;
  margin-left: -24px;
  background-color: #bb0a00;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 3px 0 #950800;
}

footer.footer .copyright {
  margin-top: 20px;
}
footer.footer .copyright p {
  font-size: 14px;
}
